{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Shumpaga - {{ cat }}{% endblock %}
{% block content %}
<main id="main">
<div class="container-fluid">
  {% if messages %}
    <div class="row text-center topspace">
      <div class="col-sm-8 col-sm-offset-2">
        {% for message in messages %}
          <h4 {% if message.tags %} class="{{ message.tags }}"
              {% endif %}>
            {{ message }}
          </h4>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if posts %}
    <div class="row section topspace">
      <div class="col-sm-12 category-title">
        {% if language == "fr" %}
          {{ descr.description_fr|safe }}
        {% else %}
          {{ descr.description_en|safe }}
        {% endif %}
      </div>
    </div>
    <div class="row topspace">
      <div class="col-sm-8 col-sm-offset-2">
        {% for post in posts %}
          <hr/>
          <article class="entry">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on">
                  <time date="{{ post.published_date }}">
                    {{ post.published_date }}
                  </time>
                </span>
              </div>
              <h2 class="entry-title">
                <a href="{% url 'post_detail' pk=post.pk %}" rel="bookmark">
                  {% if language == "fr" %}
                    {{ post.title_fr }}
                  {% else %}
                    {{ post.title_en }}
                  {% endif %}
                </a>
              </h2>
            </header>
            <div class="entry-content">
              <p>
                {% if language == "fr" %}
                  {{ post.text_fr|safe|truncatewords:100 }}
                {% else %}
                  {{ post.text_en|safe|truncatewords:100 }}
                {% endif %}
                <a href="{% url 'post_detail' pk=post.pk %}" rel="bookmark"
                                                             class="more-link">
                  {% if language == "fr" %}
                    Lire la suite
                  {% else %}
                    Continue reading
                  {% endif %}
                </a>
              </p>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  {% else %}
  <div class="row section topspace">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2>
        {{ empty | safe }}
      <h2/>
    </div>
  </div>
  {% endif %}
  <div class="row section topspace">
    {% if posts.has_other_pages %}
    <ul class="col-sm-12 pagination">
      {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
      <li class="active current"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
  <div class="row section featured topspace">
    <div class="col-xs-10 col-xs-offset-1 form-style-3 text-center signup">
      <h4>
        {% if language == "fr" %}
          Souscrivez à Shumpaga
        {% else %}
          Sign up for Shumpaga's newsletter
        {% endif %}
      </h4>
      <form method="POST">{% csrf_token %}
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            {% for field in subscribe_form %}
              {{ field }}
            {% endfor %}
          </div>
          <div class="col-xs-3">
            <input type="submit" value="
            {% if language == "fr" %}
              Souscrire
            {% else %}
              Subscribe
            {% endif %}" class="btn btn-default">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</main>
{% endblock content %}
