{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Contact{% endblock %}
{% block content %}
<main id="main">
<div class="container-fluid contact-form">
  <div class="row section1">
    <div class="col-sm-12">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <h1>
                Contact
              </h1>
              <hr/>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-form">
        {% if messages %}
        <div class="row text-center topspace">
          <div class="col-sm-12">
            {% for message in messages %}
            <h4 {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
            </h4>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 form-style-3">
          <form role="form" class="contact-form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="push_button">
          </form>
        </div>
      </div>


    </div>
  </div>



</div>
</main>
{% endblock content %}
