{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Colloques/Conferences{% endblock %}
{% block content %}
<main id="main">
<div class="container-fluid">
  <div class="row section1">
    <div class="col-sm-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h1>
              {% if LANGUAGE_CODE == "fr" %}
                Expertises / Etudes techniques
              {% else %}
                Expertises / Technical studies
              {% endif %}
            </h1>
            <hr/>
          </div>
        </div>
      </div>
      <div class="row pub-descr">
        {% if LANGUAGE_CODE == "fr" %}
          Au total, {{ count }} travaux effectués.
        {% else %}
          All in all, {{ count }} executed works.
        {% endif %}
      </div>
      <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
      {% if LANGUAGE_CODE == "fr" %}
        <img class="img-classic" src="{% static "images/expFR.png"%}">
      {% else %}
        <img class="img-classic" src="{% static "images/expEN.png"%}">
      {% endif %}
        </div>
      </div>
      <div class="row pub-descr">
        {% if LANGUAGE_CODE == "fr" %}
          Pour n'en citer que quelques-unes:
        {% else %}
          To name a few:
        {% endif %}
      </div>

      <ul class="ordered-list">
        {% for e in exp %}
          <li class="ordered-list-elt">
            <label class="ordered-list-icon ordered-list-icon-dark"></label>
            <div class="ordered-list-content">
              <p class="ordered-list-date">
                {{ e.year }}
              </p>
              <h3>
                {% if LANGUAGE_CODE == "fr" %}
                  {{ e.description_fr | safe }}
                {% else %}
                  {{ e.description_en | safe }}
                {% endif %}
              </h3>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>	<!-- /container -->
</main>
{% endblock content %}
