{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal academic website of professor Gbaguidi Aïsse Gérard.">
    <meta name="author"      content="Shumpaga">
    <title>{% block title %}Professor Gbaguidi Aïsse Gérard | Publications | Research {% endblock %}</title>
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Fonts -->
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <link  href="http://fonts.googleapis.com/css?family=Cormorant:regular" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <!-- W3 CSS style -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bib-publication-list/bib-publication-list.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'bib-publication-list/build/bib-list-min.js' %}"></script>
    <!--[if lt IE 9]> <script src="{% static 'js/html5shiv.js' %}"></script> <![endif]-->
  </head>

  <body class="home">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">
        {% if LANGUAGE_CODE == "fr" %}
        Fermer &times;
        {% else %}
        Close &times;
        {% endif %}
      </button>
      <img class="img-circle" src="{% static "images/me.jpg" %}">
      <div class="small-bio">
        <p class="small-bio-elt">
          {% if LANGUAGE_CODE == "fr" %}
            Prof.
          {% else %}
            Prof.
          {% endif %}
          <span class="small-bio-highlight"> Gbaguidi Aïsse Gérard Léopold</span>
        </p>
        <p class="small-bio-elt">
          {% if LANGUAGE_CODE == "fr" %}
            Fondateur directeur général de l'ESGC Véréchaguine A.K.
          {%else %}
            Founder and CEO of ESGC Véréchaguine A.K.
          {% endif %}
        </p>
        <p class="small-bio-elt">
          {% if LANGUAGE_CODE == "fr" %}
            Enseignant chercheur à l'Ecole Polytechnique d'Abomey-Calavi et à l'ESGC Véréchaguine A.K.
          {%else %}
            Teacher researcher at Ecole Polytechnique d'Abomey-Calavi and at ESGC Véréchaguine A.K.
          {% endif %}
        </p>
        <!--
        <p class="small-bio-elt">
          {% if LANGUAGE_CODE == "fr" %}
            Conseiller technique au MESRS du Bénin
          {%else %}
            Technical adviser at MESRS of Bénin
          {% endif %}
        </p>
        -->
        
      </div>
      <hr class="dash-line"/>
      <header>
        <nav class="navbar navbar-default navbar-sticky" role="navigation">
          <div id="navigationbar">
            <ul class="nav navbar-nav">
              <li {% if request.resolver_match.url_name == "about" %}
                class="active"
                {% endif %}>
                <a href="{% url 'about' %}">
                  {% if LANGUAGE_CODE == "fr" %}
                  A Propos
                  {% else %}
                  About
                  {% endif %}
                </a>
              </li>
              <li {% if request.resolver_match.url_name == "publications" %}
                class="active"
                {% endif %}>
                <a href="{% url 'publications' %}">
                  {% if LANGUAGE_CODE == "fr" %}
                  Recherches Et Publications
                  {% else %}
                  Research And Publications
                  {% endif %}
                </a>
              </li>
              <li {% if request.resolver_match.url_name == "conferences" %}
                class="active"
                {% endif %}>
                <a href="{% url 'conferences' %}">
                  {% if LANGUAGE_CODE == "fr" %}
                  Colloques-Conférences
                  {% else %}
                  Conference-Symposium
                  {% endif %}
                </a>
              </li>
              <li {% if request.resolver_match.url_name == "expertises" %}
                class="active"
                {% endif %}>
                <a href="{% url 'expertises' %}">
                  {% if LANGUAGE_CODE == "fr" %}
                  Expertises / études techniques
                  {% else %}
                  Expertises / technical studies
                  {% endif %}
                </a>
              </li>
              <li {% if request.resolver_match.url_name == "teaching" %}
                class="active"
                {% endif %}>
                <a href="{% url 'teaching' %}">
                  {% if LANGUAGE_CODE == "fr" %}
                  Enseignements-Missions
                  {% else %}
                  Teaching-Missions
                  {% endif %}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <hr class="dash-line"/>
      <div class="row sidebar-element">
        <form name="ui" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path }}" />
          {% if LANGUAGE_CODE == "fr" %}
          <input name="language" type="hidden" value="en" />
          <input type="submit"
                 style="background: url('{% static 'images/uk.png' %}') no-repeat;"
                 value=""
                 class="flag"/>
          {% else %}
          <input name="language" type="hidden" value="fr" />
          <input type="submit"
                 style="background: url('{% static 'images/france.png' %}') no-repeat;"
                 value=""
                 class="flag"/>
          {% endif %}
        </form>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row main-body">
        <div class="w3-main" style="margin-left:280px">
          <div class="col-sm-12">
            <button class="btn-grad btn-grad-1 w3-xlarge w3-hide-large" onclick="w3_open()">
              &#9776;
            </button>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="container-fluid">
              <div class="row footer-logo-zone">
                <div class="col-md-2 col-md-offset-3 col-xs-4">
                  <a href="http://epac.uac.bj/">
                    <img class="footer-logo"
                         src="{% static "images/logoepac.png" %}">
                  </a>
                </div>
                <div class="col-md-2 col-xs-4">
                  <a href="http://www.verechaguine.com/">
                    <img class="footer-logo"
                         src="{% static "images/logoesgcvak.png" %}">
                  </a>
                </div>
                <div class="col-md-2 col-xs-4">
                  <a href="http://www.uac.bj/">
                    <img class="footer-logo"
                         src="{% static "images/logouac.png" %}">
                  </a>
                </div>
              </div>
              <div class="row footer-text-zone">
                Copyright &copy; 2018, Gbaguidi Aïsse Gérard  -  Designed by <a>Shumpaga</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <!-- SideBar -->
    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>
  </body>
</html>
